In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import csv as csv
from scipy import stats

In [3]:
### Importing the data
data = pd.read_csv("C:/Users/Sreeraj/Downloads/train_1.csv")
data = data.set_index('ID')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76020 entries, 1 to 151838
Columns: 370 entries, var3 to TARGET
dtypes: float64(111), int64(259)
memory usage: 215.2 MB

In [5]:
data.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,3.160715,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,95.268204,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

Target 1

In [6]:
oneinput = data[data["TARGET"] == 1]

In [28]:
oneinput.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,3008.000000,3008.000000,3008.000000,3008.000000,3008.000000,3008.000000,3008.000000,3008.000000,3008.000000,3008.000000,...,3008.0,3008.0,3008.0,3008.0,3008.0,3008.0,3008.000000,3008.000000,3.008000e+03,3008.0
mean,-662.669548,39.680519,86.069362,89.670439,128.994674,4.990771,6.201642,3.311170,4.158910,4.609757,...,0.0,0.0,0.0,0.0,0.0,0.0,14.245891,14.245891,9.967828e+04,1.0
std,25781.275174,12.020518,1390.948493,467.849987,578.275407,98.876101,108.856939,63.124554,82.330682,85.688879,...,0.0,0.0,0.0,0.0,0.0,0.0,646.662309,646.662309,1.063098e+05,0.0
min,-999999.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.113663e+04,1.0
25%,2.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,5.716094e+04,1.0
50%,2.000000,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,8.621997e+04,1.0
75%,2.000000,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.173110e+05,1.0
max,142.000000,102.000000,51003.000000,12888.030000,13183.230000,3639.870000,3639.870000,1800.000000,3000.000000,2986.980000,...,0.0,0.0,0.0,0.0,0.0,0.0,34462.740000,34462.740000,3.988595e+06,1.0

In [42]:
print(len(oneinput[oneinput["var3" ] == oneinput["var3" ].min()]))
print(len(oneinput[oneinput["var3" ] == oneinput["var3" ].max()]))

2
1

Target 0 stats

In [ ]:
zeroinput = data[data["TARGET"] == 0]

In [29]:
zeroinput.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,...,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,73012.000000,7.301200e+04,73012.0
mean,-1558.651989,32.946406,86.213988,71.650026,119.139685,3.500148,6.483865,0.293543,0.419385,3.101017,...,8.262770,1.421388,12.718846,9.145967,32.803303,1.935146,78.571433,58.359877,1.179592e+05,0.0
std,39483.871421,12.924444,1623.324542,332.942974,544.907891,92.912768,155.308687,28.474101,33.293270,95.642344,...,465.180641,116.283127,799.174344,549.415902,2054.166127,150.799716,4120.618156,2907.775205,1.851009e+05,0.0
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.0
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.843274e+04,0.0
50%,2.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.072078e+05,0.0
75%,2.000000,39.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.197423e+05,0.0
max,238.000000,105.000000,210000.000000,9968.040000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,0.0

In [43]:
print(len(zeroinput[zeroinput["var3" ] == zeroinput["var3" ].min()]))
print(len(zeroinput[zeroinput["var3" ] == zeroinput["var3" ].max()]))

114
1

In [52]:
val = abs(zeroinput.describe().ix["mean"] - oneinput.describe().ix["mean"])
val[val>50000]

delta_imp_amort_var18_1y3        2.739276e+05
delta_imp_amort_var34_1y3        2.739276e+05
delta_imp_aport_var13_1y3        2.990801e+07
delta_imp_aport_var17_1y3        1.880156e+06
delta_imp_aport_var33_1y3        1.369638e+05
delta_imp_compra_var44_1y3       2.664601e+06
delta_imp_reemb_var13_1y3        1.743192e+06
delta_imp_reemb_var17_1y3        7.221561e+05
delta_imp_reemb_var33_1y3        1.369638e+05
delta_imp_trasp_var17_in_1y3     5.478551e+05
delta_imp_trasp_var17_out_1y3    5.478551e+05
delta_imp_trasp_var33_in_1y3     6.848189e+05
delta_imp_trasp_var33_out_1y3    1.369638e+05
delta_imp_venta_var44_1y3        5.752479e+06
delta_num_aport_var13_1y3        2.990801e+07
delta_num_aport_var17_1y3        1.880156e+06
delta_num_aport_var33_1y3        1.369638e+05
delta_num_compra_var44_1y3       2.664601e+06
delta_num_reemb_var13_1y3        1.743192e+06
delta_num_reemb_var17_1y3        7.221561e+05
delta_num_reemb_var33_1y3        1.369638e+05
delta_num_trasp_var17_in_1y3     5.478551e+05
delta_num_trasp_var17_out_1y3    5.478551e+05
delta_num_trasp_var33_in_1y3     6.848189e+05
delta_num_trasp_var33_out_1y3    1.369638e+05
delta_num_venta_var44_1y3        5.752479e+06
Name: mean, dtype: float64

Removing Columns based on Correlation

In [8]:
### Correlation matrix
correlation_input = data[data.columns.difference(["TARGET"])].corr(method = "pearson", min_periods = 1)

In [9]:
### Retrieving highly correlated input pairs (>0.8)
temp = correlation_input[(correlation_input[:]>0.8) & (correlation_input[:]!=1)]
temp.dropna(axis = 1,how = "all",inplace = True)

In [10]:
### Get column names
column_names = list(temp.columns.values)

In [11]:
### Create dictionary of column names with correlated columns
ls = {}
for i in column_names:
    ls.update({i :temp[temp[i]>0].index.tolist()})

In [12]:
### Get column names that are important
column_names2 = column_names
for k,v in ls.items():
    if k in column_names2:
        for val in v:
            if val in column_names2 :
                column_names2.remove(val)

In [13]:
### Get column names that are to be removed
actual_column_names = list(data.columns.values)
columns_tobermoved = [i for i in actual_column_names if i not in column_names2]

In [14]:
### Drop the columns
for i in columns_tobermoved:
    if i != "TARGET":
        data.drop(i,axis = 1,inplace = True)

In [15]:
### Get low correlated input output pairs
correlation_input = data.corr(method = "pearson", min_periods = 1)
vals = correlation_input[abs(correlation_input["TARGET"])<0.0005]["TARGET"].index.tolist()

In [16]:
### Remove the columns
columns_tobermoved = [i for i in vals if i in list(data.columns.values)]
for i in columns_tobermoved:
    data.drop(i,axis = 1,inplace = True)

 Removing Outliers

In [17]:
### Outlier removal
## No outliers ith 3 standard deviation 0.1%
#data = data[(np.abs(stats.zscore(data)) < 3).all(axis = 1)]

## Outliers removal with 2.3 sd 1%
#data = data[(np.abs(stats.zscore(data)) < 2.3).all(axis = 1)]

Machine Learning

In [18]:
### 
nonremoved_list = list(data.columns.values)
vals = data.values

In [19]:
### Input and Target Separation 
input_series = data[data.columns.difference(["TARGET"])]
target_series = data["TARGET"]
input_data = input_series.values
target_data = target_series.values

In [20]:
### Reading Test
temp = pd.read_csv("C:/Users/Sreeraj/Downloads/test_1.csv")
temp = temp.set_index("ID")

actual_column_names = list(temp.columns.values)
columns_tobermoved = [i for i in actual_column_names if i not in nonremoved_list]

for i in columns_tobermoved:
    temp.drop(i,axis = 1,inplace = True)
test_data = temp.values

In [21]:
#[i for i in list(temp.columns.values) if i not in nonremoved_list ]
#len(nonremoved_list)
#len(actual_column_names) - len(columns_tobermoved)
#len([ i for i in list(actual_column_names) if i not in columns_tobermoved])

Random Forest

In [22]:
### Importing Random Forest Libraries
from sklearn.cross_validation import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

In [23]:
### Fitting and Predicting
clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(input_data, target_data)
op = clf.predict(test_data)

In [24]:
stats.describe(op)

DescribeResult(nobs=75818, minmax=(0, 1), mean=1.3189480070695613e-05, variance=1.3189480070695614e-05, skewness=275.3452378618335, kurtosis=75813.00001318964)

In [25]:
out = pd.DataFrame(op,columns = ["Target"])

In [26]:
len(out[out["Target"]==1])

1

In [27]:
len(out[out["Target"]==0])

75817

Support Vector Machine